.PurchaseList {
  text-align: center;
  .wrap {
    width: 90%;
    height: 60vh;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    margin: 3vh auto;
    padding-top: 1vh;
    overflow-y: auto;
    font-family: 'Dovemayo_gothic';
    font-size: 20px;
  }
  .Contents {
    width: 95%; 
    height: 30vh;
    border-radius: 10px;
    background-color: #e3d7bd;
    margin-bottom: 1vh;
    padding-top: 1vh;
    
    .RegionDetail{
      width: 95%; 
      height: 20vh;
      border-radius: 10px;
      background-color: white;
      margin-bottom: 1vh;
    }
    .positive_profit {
      color: red !important; /* 양수일 때의 텍스트 색상을 빨간색으로 지정 */
    }
    
    .negative_profit {
      color: blue !important; /* 음수일 때의 텍스트 색상을 파란색으로 지정 */
    }
    .ButtonWrap {
      width: 95%; 
      height: 8vh;
      border-radius: 10px;
      background-color: white;
      margin-bottom: 1vh;
      display: flex;
      .button {
        color: black;
        background-color: #fff;
        font-weight: 600;
        border-radius: 2rem;
        font-size: 1rem;
        line-height: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-align: center;
        display: inline-flex;
        align-items: center;
        border: none;
        border: 2px solid #222;
        margin-left: 3rem;
      }
      .button:hover {
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
      }
      
      .button:active {
        box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
      }
      .IconButtonWrap {
        display: flex;
        flex-direction: column;
      }
    }
  }
}