spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://localhost:3306/eagerbeaver
    username: root
    password: ssafy
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  redis:
    host: localhost
    port: 6379

logging:
  level:
    com.ground.sswm: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

server:
  servlet:
    context-path: /api
  port: 8080

# kakao 관련
kakao:
  rest-api-key: 45ea23576846eddff5204386c19df7b2
  redirect-uri: http://localhost:3000/main # application-local 전용
#  redirect-uri: http://localhost:8080/api/auth/login # 백 테스트 전용
#  redirect-uri: http://j9a507.p.ssafy.io/nickname # application-prod 전용

# 자체 jwt 관련
jwt:
  secret: eagerbeaversecretkeyhihellochillout