.commonButton {
  white-space: nowrap;
  border-radius: 2px;
  transition: 0.2s;
}

.commonButton:disabled {
  opacity: 0.4;
}

.commonButton.tiny {
  min-width: 80px;
  height: 20px;
  padding: 0 8px;
  font-size: 12px;
  color: gray;
  background-color: white;
  border: 1px solid gray;
  border-radius: 3px;
}

.commonButton.tiny:hover,
.commonButton.tiny:focus {
  border-color: gray;
}

.commonButton.small {
  min-width: 80px;
  height: 28px;
  padding: 0 8px;
  font-size: 12px;
}

.commonButton.normal {
  height: var(--h-comment-form);
  padding: 0 14px;
  font-size: 14px;
}

.commonButton.primary {
  color: white;
  background-color: blue;
}

.commonButton.primary:hover,
.commonButton.primary:focus {
  background-color: blueviolet;
}

.commonButton.inverse {
  color: black;
}

.commonButton.inverse:hover,
.commonButton.inverse:focus {
  text-decoration: underline;
}

.commonButton.ghost {
  color: black;
  border: 1px solid gray;
}

.commonButton.ghost:hover,
.commonButton.ghost:focus {
  border: 1px solid gray;
}
