.nickname {
  width: 100%;
  min-height: 90dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: hidden;

  .centering {
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    display: flex;
    width: 400px;
    height: 100px;
  }

  .message {
    font-size: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    color: red;
  }

  /* input field */
  .inputGroup {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputGroup input {
    font-size: 100%;  
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    border-radius: 20px;
    width: 90%;
  }

  .counting {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .start{
    position: absolute;
    right: 10%;
    bottom: 10%;
    height: 40px;
    width: 80px;
    border: 1px solid black;
  }
}