.StartBar1 {
    position: relative;
    top: 50px;
    /* left: 10%; */
    width: 113%;
    height: 100%;
    background-color: #ffff;
  }

  .cont{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .bnt {
    font-size: 15px;
    background-color: '#0063cc';
    line-height: 1.5;
    border-color: #D1AB7D;
    border: 3px solid; /* 두껍게 조정 */
    color: #D1AB7D; /* 글자 색을 흰색(#fff)으로 변경 */
    margin: 5%;
    float: right;
    
  }
  .bnt:hover {
    background-color: #96785B; /* 마우스 호버 시 배경색 변경 */
    border-color: #96785B; /* 마우스 호버 시 테두리 색 변경 */
    box-shadow: none; /* 마우스 호버 시 그림자 제거 */
  }

  .turn {
    margin: 5%;
  }

  .time {
    margin: 5%;
  }
  .bb {
    margin: 5%;
  }

  .settings {
    margin: 1%;
  }

  .word {
    position: relative;
    top: 50px;
    width: 120vh; /* 이미지의 가로 크기 대비 비율로 설정 (예: 80%) */
    height: 5h; /* 이미지의 가로 크기 대비 비율로 설정 (예: 80%) */
    padding-top: 30%; /* 이미지의 세로 크기 대비 비율로 설정 (예: 30%) */
    background:  url('../../../public/images/blackboard.png'); /* public 폴더 내의 이미지 경로 */
    background-size: 100% 100%; /* 배경 이미지를 100% 너비, 100% 높이로 설정 */
    background-repeat: no-repeat; /* 이미지 반복 표시 방지 */
}

.gridContainer {
    display: grid;
    grid-template-columns: 3fr 1fr; /* 두 개의 컬럼으로 나눔 */
    gap: 10px; /* 컬럼 간격 설정 (원하는 크기로 조절) */
    height: 93vh;
}

.leftContent {
    grid-column: 1; /* 왼쪽 컬럼에 배치 */
    margin-top: 3%;
}

.rightContent {
    grid-column: 2; /* 오른쪽 컬럼에 배치 */
    margin-top: 3%;
}

.centeredContent {
  display: flex; /* flexbox 사용 */
  flex-direction: column; /* 요소들을 세로 방향으로 배치 */
  justify-content: center; /* 요소들을 수직 중앙에 배치 */
  align-items: center; /* 요소들을 수평 중앙에 배치 */
  margin-top: -29%;
  color: #FFFFFF; /* 하얀색 (흰색) */
}

.rankContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 두 개의 컬럼으로 나눔 */
  gap: 10px; /* 컬럼 간격 설정 (원하는 크기로 조절) */
  /* height: 93vh; */
  margin-top: 12%;
}
.rankContainerTxt {
  position: relative;
  top: 100px;
  left: 35%;
  transform: translateY(-50%);
  font-size: 30px;
}

.rankCenter {
  justify-content: center;
}


.rankleftContent {
  grid-column: 1; /* 왼5쪽 컬럼에 배치 */
  /* margin-top: 5%; */
}
.rankmiddleContent {
  grid-column: 2; /* 왼쪽 컬럼에 배치 */
  /* margin-top: 5%; */
}

.rankrightContent {
  grid-column: 3; /* 오른쪽 컬럼에 배치 */
  /* margin-top: 5%; */
  
}