.rankbar {
  background-color: #ffffff;
  border: 3px solid #fdefd2;
  width: 35%; /* 원하는 가로 길이(예: 50%)로 설정하세요. */
  height: 80vh; /* 페이지 높이와 같게 설정 */
  /* z-index: 999; */
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  border-radius: 10px; /* 원하는 둥근 정도(px)를 설정하세요. */

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.stbnt {
  font-size: 25px;
  border: 3px solid #fdefd2;
  color: #d1ab7d; /* 글자 색을 흰색(#fff)으로 변경 */
  background-color: white;
  font-family: "Dovemayo_gothic";
  border-radius: 20px;
  width: max-content;
}

.rankBntHide {
  display: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bnt:hover {
  background-color: #fdefd2; /* 마우스 호버 시 배경색 변경 */
  border-color: #fdefd2; /* 마우스 호버 시 테두리 색 변경 */
  box-shadow: none; /* 마우스 호버 시 그림자 제거 */
}

.empty {
  width: 40px;
}

.rankCloseBnt {
  font-size: medium;
  border: 3px solid #fdefd2;
  color: #d1ab7d; /* 글자 색을 흰색(#fff)으로 변경 */
  background-color: white;
  margin: 0;
  /* z-index: 9999; */
  font-family: "Dovemayo_gothic";
  border-radius: 20px;
  left: 92%;
  top: 65px;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.playCloseBnt {
  font-size: medium;
  border: 3px solid #fdefd2;
  color: #d1ab7d; /* 글자 색을 흰색(#fff)으로 변경 */
  background-color: white;
  margin: 0;
  /* z-index: 9999; */
  font-family: "Dovemayo_gothic";
  border-radius: 20px;
  left: 28%;
  top: 45px;
}

.settings {
  margin: 1%;
}

.centeredContent {
  display: flex; /* flexbox 사용 */
  flex-direction: column; /* 요소들을 세로 방향으로 배치 */
  justify-content: center; /* 요소들을 수직 중앙에 배치 */
  align-items: center; /* 요소들을 수평 중앙에 배치 */
  margin-top: -29%;
  color: #ffffff; /* 하얀색 (흰색) */
}

.rankContainer {
  gap: 10px; /* 컬럼 간격 설정 (원하는 크기로 조절) */
  /* height: 93vh; */
  margin-top: 5%;
  display: flex;
}
.rankContainerTxt {
  margin-top: 50%;
  left: 39%;
  font-size: 50px;
  font-family: "Dovemayo_gothic";
  margin: 0px 0px 0px 0px;
  width: max-content;
}

.rankCenter {
  margin-top: 0px;
  font-family: "Dovemayo_gothic";
  align-items: center;
  width: max-content;
  font-size: 35px;
}

.rankmiddleContent {
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  width: 70%;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.StartBar1 {
  background-color: #ffffff;
  border: 3px solid #fdefd2;

  width: 30%; /* 원하는 가로 길이(예: 50%)로 설정하세요. */
  height: 80vh; /* 페이지 높이와 같게 설정 */
  /* z-index: 999; */

  position: absolute;
  top: 50%;
  left: 18%;
  
  transform: translate(-50%, -50%);

  border-radius: 10px;

  display: flex-row;
  justify-content: center;
  align-items: center;

  text-align: center;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.playBeaver {
  width: 30%;
  height: 30%;
}

.turnTime {
  margin: 5%;
  width: 90%;
  border: 3px solid #d1ab7d;
  border-radius: 10px; /* 원하는 둥근 정도(px)를 설정하세요. */

}

.bb {
  margin-top: 10px;
  margin-right: 35px;

  width: 15%;
  float: right;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.show-menu3 {
  /* opacity: 0; /* 초기 상태에서 투명도를 0으로 설정하여 처음에 안 보이게 합니다. */
  /*transition: transform 1s ease, opacity 0.5s ease;  /*transform 속성 변화와 투명도 변화를 각각 애니메이션화하고, ease 함수 사용 */

  width: 100%;
  position: absolute;
  left: -1800px;
  height: 100%;
}

.hide-menu3 {
  /*opacity: 1; /* 최종 상태에서 투명도를 1로 설정하여 보이게 합니다. */
  /*transition: transform 1s ease, opacity 0.5s ease; /* transform 속성 변화와 투명도 변화를 각각 애니메이션화하고, ease 함수 사용 */

  width: 100%;
  left: 10px;
  position: absolute;
  transition: 1s;
  height: 100%;
}

.show-menu2 {
  /*opacity: 0; /* 초기 상태에서 투명도를 0으로 설정하여 처음에 안 보이게 합니다. */
  /*transition: transform 1s ease, opacity 0.5s ease;  /*transform 속성 변화와 투명도 변화를 각각 애니메이션화하고, ease 함수 사용 */

  width: 100%;
  position: absolute;
  right: -1800px;
  height: 100%;
}

.hide-menu2 {
  /*opacity: 1; /* 최종 상태에서 투명도를 1로 설정하여 보이게 합니다. */
  /*transition: transform 1s ease, opacity 0.5s ease; /* transform 속성 변화와 투명도 변화를 각각 애니메이션화하고, ease 함수 사용*/

  width: 100%;
  right: 10px;
  position: absolute;
  transition: 1s;
  height: 100%;
}

.parents {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 1fr; /* 다른 영역의 넓이를 설정합니다. */
  grid-gap: 5px; /*영역 간격 조정 (선택 사항) */

  background-color: #C4D5E7;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 88.5%;

  overflow: hidden; /*스크롤 없애기 */
  .bnt {
    font-size: 40px;
    border: 3px solid #fdefd2;
    color: #d1ab7d; /* 글자 색을 흰색(#fff)으로 변경 */
    background-color: white;
    margin: 0;
    /* z-index: 9999; */
    font-family: "Dovemayo_gothic";
    border-radius: 20px;
    transition: 1s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

.GridItemR {
  padding: 20px;
  text-align: right;
  font-size: 18px;
  width: 430px;
}

.GridItemM {
  width: 600px;
  position: flex;
  justify-content: center;
}

.img {
  background-color: #C4D5E7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeImg {
  width: 148%;
  height: 148%;
}

.GridItemL {
  padding: 20px;
  text-align: left;
  font-size: 18px;
}

.wordTitle {
  width: 500px;
  margin-left: 60px;
  text-align: center;
  font-family: "Dovemayo_gothic";
  font-size: 40px;
}

.wordContents {
  width: 500px;
  margin-left: 70px;
  margin-bottom:100px;
  text-align: center;
  white-space: normal;
  font-family: "Dovemayo_gothic";
  width: 500px;
}

.check {
  font-family: "Dovemayo_gothic";
  font-size: 40px;
  color: #d1ab7d;
  margin: 0px 0px 5px 0px;
}

.check2 {
  font-family: "Dovemayo_gothic";
}

/* 화살표 버튼 만들고 싶어요... */
.arrow {
  position: relative;
  float: left;
  width: max-content;
  height: max-content;
}

.arrow::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-top: 5px solid #d1ab7d;
  border-right: 5px solid #d1ab7d;
}

.arrowLeft {
  top: 30%;
  left: 10%;
  transform: rotate(225deg);
}

.arrowRight {
  right: 10%;
  transform: rotate(45deg);
}

.changeTurn {
  display: none;
}

.rankTitle {
  display: flex;
  margin-top: 5%;
}

/*StartBar*/
.setting {
  width: 80%;

  display: flex-row;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
}

.choiceRadio {
  margin-right: 11px;
  margin-left: 5px;
  transform: rotate(20deg);
}

.turnTimeSetting {
  margin-top: 1%;
  margin-left: 5%;
}
